/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Custom Styles */
body{
    font-family: 'Poppins', sans-serif;
}

.bg-color-header{
    background-color: #264653;
}

h1{
    font-size: 3rem;
}

hr{
    width: 4rem;
}

.grayscale {
  filter: grayscale(100%);
}

.reatured-img-width{
    width: 18rem;
}

.bg-color-button{
    background-color: #E76F51;
}

.custom-primary-color{
    color: #E76F51;
}
.custom-secondary-color{
    color: #23A6F0;
}

.clients-img-size{
    width: 9rem;
}

.photo-frame {
    overflow: hidden;
}

.photo-frame:hover .photo {
    transform: scale(1.15) ;    
    transition: transform 1s ease-in-out;
}

.bg-slider-caption{
    background-color:#0a0a0a62;
    max-width: 100%;
    width:100%;
    left: 0;
}
